@import"variables.css";

body * {
  font-size: 10px;
  box-sizing:border-box;
  margin:0;
  padding:0;
  color:#000000;
  font-family: "Glass Antiqua";
}
body {
  background-color: var(--background-color);
}
h1, h2, h3, h4, p {
  margin: 0;
  text-align:center;
}

h1 {
  font-size:3rem;
}
.card-container {
  box-sizing:border-box;
  width:80%;
  margin:1rem auto;
  padding:2.5%;
  display:flex;
  flex-direction:row;
  align-items:center;
  flex-wrap:wrap;
  justify-content:space-evenly;
  background-color: var(--background-color);
}
.card {
  width:23%;
  border:0.2rem solid #000000;
  text-align:center;
  margin-bottom:0.8rem;
  border-radius:2rem;
  height: 25rem;
  background-color: #8b8683;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-evenly;
}
.card-image {
  height: 50%;
}
.info-box {
  width: 80%;
  height: 15%;
}
.header-container {
  font-size: 1.6cqh;
  height:20%;
  display:flex;
  flex-direction:row;
  align-items:center;
}
.style-button-container {
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  margin-top: 3rem;
}
.style-button {
  width: 15rem;
  height: 3rem;
}
.sort-button-container {
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  flex-wrap:wrap;
}
.sort-button {
  width:30%;
}
label {
  width:33%;
  text-align:center;
}