@import"variables.css";

body * {
  font-size: 10px;
  box-sizing:border-box;
  margin:0;
  padding:0;
  color:var(--text);
  font-family: "Glass Antiqua";
}
body {
  background-color: var(--primary);
}
h1, h2, h3, h4, p {
  margin: 0;
  text-align:center;
}

h1 {
  font-size:3rem;
}
.card-container {
  box-sizing:border-box;
  width:80%;
  margin:1rem auto;
  padding:2.5%;
  display:flex;
  flex-direction:row;
  align-items:center;
  flex-wrap:wrap;
  justify-content:space-evenly;
  background-color: var(--primary);
}
.card {
  width:23%;
  border:0.2rem solid var(--text);
  text-align:center;
  margin-bottom:0.8rem;
  border-radius:2rem;
  height: 25rem;
  background-color: var(--secondary);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-evenly;
}
.card-image {
  height: 50%;
}
.info-container {
  width: 80%;
  height: 15%;
}
.header-container {
  height:20%;
  display:flex;
  flex-direction:row;
  align-items:center;
}
.style-button-container {
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  margin-top: 3rem;
}
.style-button {
  width: 15rem;
  height: 3rem;
  font-size:1rem;
  border: 0.2rem solid var(--text);
}
.sort-button-container {
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  flex-wrap:wrap;
}
.sort-button {
  width:30%;
  font-size:1rem;
}
label {
  width:33%;
  text-align:center;
  font-size: 1.5rem;
}
p {
  font-size:0.78rem;
}
h2 {
  font-size: 2.5cqh;
}
button, select, option {
  background-color: var(--secondary);
  border:none;
}
select {
  border: 0.1rem solid var(--text);
}
.remove-button-container {
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  margin-top: 3rem;
}